.App {
  display: flex;
  justify-content: space-around;
}
.link{
  text-decoration: none;
  margin: 15px;
  font-size: 25px;
  letter-spacing: 5px;
  color: #F9F7F7;
  font-family: 'PT Sans Narrow', sans-serif;
}
video{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

