.App{
  display: flex;
  justify-content: space-around;
}
body{
  background-color: #f7f8fd;
}
.link{
  padding: 24px;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 5px;
  color: #996c60;
  
}
video{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 100px;
}
.two{
  font-size: 35px;
  color: #ffffff;
  font-family: 'PT Sans Narrow', sans-serif;
}
.one{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 50px;
  letter-spacing: 3px;
  color: #F1D3B3;
}
.par{
  color: #ffffff;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 25px;
}
.btn{
  width: 10%;
  background-color: #F1D3B3;
  padding: 15px;
  border: none;
  border-radius: 30px;
  margin-top: 20px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #450d00;
}
.image{
  width: 100%;
  left: 0;
}
.Shop{
  position: relative;
  flex-wrap: wrap;
}
.text{
  position: absolute;
  top: 20%;
  left: 15%;
  text-align: center;
  color: #996c60;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 3px;
}







