.App{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
body{
  background-color: #f7f8fd;
}
.link{
  padding: 24px;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 5px;
  color: #996c60;
  
}
video{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 100px;
}
.two{
  font-size: 35px;
  color: #ffffff;
  font-family: 'PT Sans Narrow', sans-serif;
}
.one{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 50px;
  letter-spacing: 3px;
  color: #F1D3B3;
}
.family{
  color: #a87556;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 35px;
  letter-spacing: 3px;
}
.par{
  color: #ffffff;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 25px;
}

.text{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #996c60;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 3px;
  text-align: center;
  margin-right: 50%;
}
.menu{
  margin-top: 40px;
}
.listMenu{
  font-size: 20px;
}
ul{
  margin-top: 20px;
  text-decoration: none;
  list-style-type: none;
}
li{
  padding: 7px;
}
.product {
  display: flex;
  flex-wrap: wrap;
}
.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
}
.searchName{
  text-align: center;
  color: #996c60;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 3px;
  margin-top: 30px;
}
.div{
  background: url("https://img.freepik.com/free-photo/top-view-cup-coffee-with-grain_23-2148170746.jpg?w=1480&t=st=1677176908~exp=1677177508~hmac=381803fba2b063768e518081ff1141a17f98804d419d6d8e9a0fb52ad6542835") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  animation: increase 60s linear 10ms infinite;
  -webkit-transition: all 5.2s ease-in-out;
  -moz-transition: all 5.2s ease-in-out;
  -ms-transition: all 5.2s ease-in-out;
  -o-transition: all 5.2s ease-in-out;
  transition: all 5.2s ease-in-out;
  z-index: -2;
  height: 90vh;
  background-color: #f6f8fa;
}
.buttons{
  display: flex;
  justify-content: space-around;
}
.cta{
  padding: 10px;
  border: none;
  margin: 10px;
  color: #f7f8fd;
  background-color: #37302a;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 2px;
  border-radius: 3px;
}
.cta:hover{
  background-color: #EEEEEE;
  padding: 12px;
  color: #bf8a5b;
}
.bta{
  padding: 7px;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 1px;
  border-radius: 3px;
  border: none;
  color: #f7f8fd;
  background-color: #9DC08B;
}
.bta:hover{
  padding: 10px;
  background-color: #609966;
}
.order:hover{
  padding: 13px;
  background-color: #990000;
}
.order{
  padding: 10px;
  border: none;
  width: 50%;
  color: #f7f8fd;
  background-color: #E64848;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 3px;
  border-radius: 3px;
}
.about{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #e8e8e8;
}
.imageCoffee{
  width: 400px;
  background-color: #e8e8e8;
  padding: 30px;
}
.aboutPar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  
}
.bussiness{
  margin-left: 50px;
  margin-right: 50px;
  color: #a87556;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
}
.showMore{
  border: none;
  background-color: #f7f8fd;
  color: #55a1e0;
}
.showMore:hover{
  font-size: 15px;
  color: #E64848;
}

@media all and (max-width: 500px){
  .link{
    padding: 10px;
    margin-top: 20px;
    letter-spacing: 2px;
  }
  .par{
    font-size: 13px;
  }
  .coffee{
    left: 0;
  }
  .aboutPar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    
  }
  .family{
    font-size: 20px;
  }
  .one{
    font-size: 35px;
  }
  .imageCoffee{
    width: 300px;
  }
  .bussiness{
    font-size: 15px;
  }
}







